/* Mobil responsive */
@media (max-width: 600px) {
  .rbc-toolbar-custom {
    flex-direction: column;
    gap: 12px;
    padding: 10px;
  }
  .rbc-toolbar-custom .today-button {
    flex-grow: 1;
    text-align: center;
  }
  .rbc-toolbar-custom .view-select {
    width: 100%;
  }
  .rbc-toolbar-custom .current-date {
    order: -1;
  }
  .rbc-time-slot {
    height: 18px;
  }
  .rbc-header {
    font-size: 10px;
    padding: 2px;
  }
  .rbc-event {
    font-size: 11px;
    padding: 2px 4px;
  }
}
